:root {
  --main-accent-color: #2196f3;
  --header-color: #212121;
  --text-color: #757575;
  --white-accent-color: #ffffff;
  --dark-bg-color: #2f303a;
  --white-bg-color: #ffffff;
  --grey-bg-color: #f5f4fa;
  --active-accent-color: #188ce8;
  --main-black-color: #000000;
  --icon-color: #afb1b8;
}
.body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--white-bg-color);
  letter-spacing: 0.01em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
}

.header__body {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  margin-right: 93px;
  color: var(--main-black-color);
}

.logo__accent {
  color: var(--main-accent-color);
}

.nav__menu {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;

  display: inline-block;

  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--main-accent-color);
}

.nav__link.current-page {
  color: var(--active-accent-color);
}

.current-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: var(--main-accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
}

.header__contacts {
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;

  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--main-accent-color);
}

.icon {
  fill: currentColor;
}

.contacts__icon {
  margin-right: 10px;
}

/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero__body {
  text-align: center;
}

.hero__header {
  margin: 0 auto;
  margin-bottom: 30px;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-accent-color);
}

.button {
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-accent-color);
  background-color: var(--main-accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button {
  padding: 10px 32px;
}

.button:hover,
.button:focus {
  background-color: var(--active-accent-color);
}

/* features */

.features__list {
  display: flex;
  gap: 30px;
}

.features__item {
  width: 270px;
}

.features__wrapper {
  margin-bottom: 30px;

  width: 270px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--grey-bg-color);
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}

.features__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* services */

.services {
  padding-top: 0;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.services__title {
  margin-bottom: 50px;
}

.services__list {
  display: flex;
  gap: 30px;
}

.services__item {
  position: relative;
}

.services__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--white-accent-color);
  background: rgba(47, 48, 58, 0.8);
}

.people {
  background-color: var(--grey-bg-color);
}

.people__list {
  display: flex;
  gap: 30px;
}
.people__item {
  background-color: var(--white-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.people__wrapper {
  padding: 30px 0;
  margin: 0 auto;
}
.people__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.people__title {
  margin-bottom: 10px;

  font-weight: 500;
  color: var(--header-color);
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.people__social-links {
  margin-top: 16px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-links__link {
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--active-accent-color);
  color: var(--white-accent-color);
}
.icon {
  fill: currentColor;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
  color: var(--active-accent-color);
  border: 1px solid var(--active-accent-color);
}
.customer-icon {
  fill: currentColor;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-color);
}

.footer__wrapper {
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;

  margin-bottom: 20px;

  color: var(--white-accent-color);
}

.address-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-contacts__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contacts__link:hover,
.address-contacts__link:focus {
  color: var(--active-accent-color);
}

.address-contacts__address {
  color: var(--white-accent-color);
}

.footer-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-accent-color);
}

.footer-socials__footer-title {
  margin-bottom: 20px;
}
.footer-socials__list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-socials__link {
  color: var(--white-accent-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__icon {
  fill: currentColor;
}

.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--active-accent-color);
}

.footer__subscription {
  margin-left: auto;
}

.subscription__title {
  display: block;
  margin-bottom: 20px;
}

.subscription-form {
  display: flex;
  align-items: center;
}

.subscription-form__input {
  padding: 15px 16px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscription-form__input:focus {
  border: 1px solid var(--main-accent-color);
}

.subscription-form__button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 28px;
  margin-left: 12px;
}

.subscription-form__icon {
  margin-left: 10px;
}

/* portfolio section */

.filter-buttons {
  display: flex;
  justify-content: center;
}

.portfolio__filter-buttons {
  margin-bottom: 50px;
}

.filter-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.filter-buttons__button {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background-color: var(--grey-bg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-buttons__button:hover,
.filter-buttons__button:focus {
  background-color: var(--active-accent-color);
  color: var(--white-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product {
  display: inline-block;
  flex-basis: calc((100%-60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover,
.product:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__wrapper {
  position: relative;
  overflow: hidden;
}
.product__description {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-accent-color);
  background: rgba(33, 150, 243, 0.9);
}

.product:hover .product__description,
.product:focus .product__description {
  transform: translateY(-100%);
}

.product__name-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.product__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.product__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--white-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--main-black-color);
  background-color: var(--white-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-button:hover,
.modal-button:focus {
  color: var(--main-accent-color);
}
.modal-close {
  fill: currentColor;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-form {
  padding: 40px;
}
.modal-title {
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.form-field {
  position: relative;
  margin-bottom: 10px;
}
.form-field.textarea {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 35px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input:focus {
  border: 1px solid var(--main-accent-color);
}
.form-input:focus ~ .form-icon {
  fill: var(--main-accent-color);
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.input-wrap {
  position: relative;
}
.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border: 1px solid var(--main-accent-color);
}
.field-contract {
  margin-bottom: 30px;
}

.contract-label {
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contract-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  border: 2px solid var(--header-color);
  border-radius: 2px;
  fill: var(--white-accent-color);
}
.contract-checkbox:checked ~ .contract-icon {
  background-color: var(--main-accent-color);
  border: none;
}
.contract-checkbox:focus ~ .contract-icon {
  outline: 1px solid var(--main-accent-color);
}
.contract-link {
  margin-left: 5px;
  text-decoration: underline;
  color: var(--main-accent-color);
}
.modal-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--main-accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-accent-color);
  border-radius: 4px;
  border: none;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--active-accent-color);
}
